{% extends "employee.html" %}

{% block page_title %}
New Recruitment Request
{% endblock %}

{% block return_link %}
    <a href="{% url 'employee_home' %}">Employee Homepage</a>
{% endblock %}

{% block employee_dashboard %}
    <div class="content-50 mt-2">
        {% if messages %}
            {% for message in messages %}
                <div{% if message.tags %} class="message-{{ message.tags }}"{% endif %}>
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}

        <div class="h-centered">
            <form method="POST">
                {% csrf_token %}

                {% for error in form.non_field_errors %}
                    <small class="error">{{ error }}</small>
                {% endfor %}

                {% for field in form %}
                    {% for error in field.errors.all %}
                        <small class="error">{{ error }}</small>
                    {% endfor %}
                    <div class="input-field">
                        {{ field.label_tag }} <br />
                        {{ field }}
                    </div>
                {% endfor %}

                <div class="submit-button-wrapper">
                    <button type="submit" class="submit-button">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
