{% extends "employee.html" %}

{% block employee_dashboard %}

<div class="content-row-3">
    <div class="employee-column">
        <h3>Waiting for approval</h3>
        <table class="raw-request-table">
            <tr>
                <th>Client</th>
                <th>Request</th>
                <th>Actions</th>
            </tr>
            {% for project in waiting_approval %}
                <tr>
                    <td>{{ project.client.name }}</td>
                    <td>{{ project.title }}</td>
                    <td>
                        <a href="{% url 'project:project_detail' project.id %}">
                            <button class="centered">Details</button>
                        </a>

                        <a href="{% url 'project:adm_action' project.id %}?approve=1">
                            <button class="centered">Approve</button>
                        </a>
                        <a href="{% url 'project:adm_action' project.id %}?approve=0">
                            <button class="centered">Reject</button>
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="text-center">
                        Good work, nothing to do !
                    </td>
                </tr>
            {% endfor %}
        </table>
        <small>These projects require feedback.</small>
    </div>
    <div class="employee-column">
        <h3>Projects History</h3>
        <table class="project-table">
            <tr>
                <th>Title</th>
                <th>Client</th>
                <th>Status</th>
            </tr>
            {% for project in project_history %}
                <tr>
                    <td>{{ project.client.name }}</td>
                    <td>{{ project.title }}</td>
                    <td class="status-{{ project.status }}">
                        {{ project.get_status_display }}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3" class="text-center">
                        No project yet !
                    </td>
                </tr>
            {% endfor %}
        </table>
        <small>This is an historic of the last projects reviewed</small>
    </div>
    {% include "employee/profile.html" %}
</div>

{% endblock %}
