{% extends "employee.html" %}

{% block employee_dashboard %}

<div class="content-row-3">
    <div class="employee-column">
        <h3>Client requests</h3>
        <table class="raw-request-table">
            <tr>
                <th>Client</th>
                <th>Request</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            {% for raw_request in raw_requests %}
                <tr>
                    <td>{{ raw_request.name }}</td>
                    <td>{{ raw_request.title }}</td>
                    <td>
                        {% if raw_request.project %}
                            DRAFT
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'project:project_from_raw' raw_request.id %}">
                            <button class="centered">Review</button>
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="text-center">
                        Good work, nothing to do !
                    </td>
                </tr>
            {% endfor %}
        </table>
        <small>Tranform these requests into fully fledged projects.</small>
    </div>
    <div class="employee-column">
        <h3>Project history</h3>
        <table class="project-table">
            <tr>
                <th>Title</th>
                <th>Client</th>
                <th>Status</th>
            </tr>
            {% for project in project_history %}
                <tr>
                    <td>{{ project.client.name }}</td>
                    <td>{{ project.title }}</td>
                    <td class="status-{{ project.status }}">
                        {{ project.get_status_display }}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3" class="text-center">
                        No project yet !
                    </td>
                </tr>
            {% endfor %}
        </table>
        <small>These are the projects that you filled and that are waiting to be completed.</small>
    </div>
    {% include "employee/profile.html" %}
</div>

{% endblock %}
