{% extends "employee.html" %}

{% block employee_dashboard %}

<div class="content-row-3">
    <div class="employee-column">
        <h3>Currently active projects</h3>
        <table class="raw-request-table">
            <tr>
                <th>Client</th>
                <th>Request</th>
                <th>Actions</th>
            </tr>
            {% for project in projects %}
                <tr>
                    <td>{{ project.client.name }}</td>
                    <td>{{ project.title }}</td>
                    <td>
                        <a href="{% url 'project:psdm_action' project.id %}">
                            <button class="centered">see more</button>
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="text-center">
                        No current project !
                    </td>
                </tr>
            {% endfor %}
        </table>
        <small>These projects are currently ongoing, you can assign tasks to employees.</small>
    </div>
    <div class="employee-column">
        <h3>Assigned tasks</h3>
        <table class="raw-request-table">
            <tr>
                <th>Subject</th>
                <th>Due date</th>
                <th>Priority</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
                <tr class="prio-{{ task.priority }}">
                    <td>{{ task.subject }}</td>
                    <td>{{ task.due_date|date:"d/m/Y" }}</td>
                    <td>{{ task.priority }}</td>
                    <td>
                        <a href="{% url 'project:task_detail' task.project.id task.id %}">
                            <button class="centered">see more</button>
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="text-center">
                        No tasks !
                    </td>
                </tr>
            {% endfor %}
        </table>
        <small>These projects are currently ongoing, you can assign tasks to employees.</small>
    </div>
    {% include "employee/profile.html" %}
</div>

{% endblock %}
