body {
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
}

body h1 {
    text-decoration: underline;
    margin: 0;
}

.text-center {
    text-align: center;
}

.centered {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    border: 1px solid #000;
    padding: 2rem;
}

.form-title {
    margin-bottom: 2rem;
    margin-top: 0;
}

.submit-button-wrapper {
    display: flex;
    justify-content: right;
}

.submit-button {
    margin-top: 1rem;
}

.employee-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1rem;
}

.error {
    margin-bottom: 1rem;
    color: #922c34;
}

.error p {
    margin: 0;
    padding: 0.5rem;
    font-size: 0.9rem;
}

.input-field {
    margin-top: 1rem;
}

.message-success {
    background: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    width: 100%;
}

.message-success p {
    margin: 0;
    padding: 1rem;
    font-size: 1rem;
}

.message-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    width: 100%;
}

.message-error p {
    margin: 0;
    padding: 1rem;
    font-size: 1rem;
}

.content-row-3 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
}

.content-row-2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
}

.content-row-2 div {
    padding: 0 1rem;
}

.employee-column {
    min-height: 80vh;
}

.employee-column table {
    width: 90%;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid;
}

th {
    width: 30%;
}

.btn-approve {
    color: #fff;
    background-color: #28a745;
}

.btn-reject {
    color: #fff;
    background-color: #dc3545;
}

.elements-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-50 {
    width: 50%;
    margin: 0 auto;
}

.br {
    border-right: 1px dashed #000;
}


.mt-2 {
    margin-top: 2rem;
}

.form-action-buttons {
    display: flex;
    justify-content: end;
}
