{% extends "base.html" %}

{% block title %}SEP{% endblock %}

{% block content %}
    <small class="employee-button">
        <a href="{% url 'home' %}">Return to the homepage</a>
    </small>
    <h1 class="text-center">Welcome to the Employee page!</h1>

    {% if messages %}
        {% for message in messages %}
            <div{% if message.tags %} class="message-{{ message.tags }}"{% endif %}>
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}

    {% block employee_dashboard %}
    {% endblock %}
{% endblock %}
