{% extends "base.html" %}

{% block title %}SEP{% endblock %}

{% block content %}
    <small class="employee-button">
        {% block return_link %}
            <a href="{% url 'home' %}">Index</a>
        {% endblock %}
    </small>
    <h1 class="text-center">{% block page_title %}Welcome to the Employee page!{% endblock %}</h1>

    {% if messages %}
        {% for message in messages %}
            <div{% if message.tags %} class="message-{{ message.tags }}"{% endif %}>
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}

    {% block employee_dashboard %}
    {% endblock %}
{% endblock %}
